{% extends 'main/base.html' %}
{% load static %}
{% block extra_style %}

{% endblock extra_style %}

{% block contents %}
<div class="map__wrapper" id="map"></div>

<div class="index-review second-headline">最新のレビュー</div>
<div>
  {% for review in review_list %}
    <div class="index-review">
      <div class="index-review__name-user">
        <a href="{% url 'main:bakery_detail' review.bakery.id %}" class="index-review__bakery">{{ review.bakery.name }}</a>
        <div class="index-review__user">by {{ review.user }}</div>
      </div>
      <div class="index-review__date">{{ review.pub_date|date:"Y.n.j" }}</div>

      <div class="index-review__comment">{{ review.comment|truncatechars:50 }}</div>
    </div>
  {% endfor %}
</div>
{% endblock contents %}

{% block sidebar %}
<h2 class="second-headline index-bakery">人気のベーカリー</h2>
<div>
  {% for bakery in bakery_list %}
    <div class="index-bakery__item">
      <a href="{% url 'main:bakery_detail' bakery.pk %}">{{bakery.name}}</a>
    </div>
  {% endfor %}
</div>
{% endblock sidebar %}

{% block javascript %}
<script>
  function initMap() {
    const bakeryList = JSON.parse('{{ bakery_list_json|escapejs }}');
    console.log("list:", bakeryList)
    const markers = [];
    const myLatLng = { lat: 35.044, lng: 135.786};
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: myLatLng,
    });

    console.log("aaasdf")
    for (const bakery of bakeryList) {
      const lat = bakery.fields.latitude;
      const lng = bakery.fields.longitude;
      console.log("position:", lat, lng);

      // マーカー刺す
      markers.push(new google.maps.Marker({
        position: {
          lat: lat,
          lng: lng,
        },
        map: map,
      }));
    }

    console.log("q");
    // for (let i=0; i<num; i++) {
    //   markers[i].add
    // }
  }
</script>
<script src="{{ map_src }}"></script>
{% endblock javascript %}
