body {
  background-color: #ffffff;
  font-size: 16px;
  margin: auto;
  width: 1024px;
}

.header {
  height: 160px;
  width: 100%;
  margin: 20px 0;
  &__title {
    font-size: 28px;
    font-weight: bold;
    margin: 3rem 0 2rem;
  }
  &__nav {
    display: flex;
  }
  &__button {
    display: block;
    height: 2.8rem;
    margin: 0 1rem 0 0;
    position: relative;
    width: 10rem;

    span {
      @include centered;
      font-weight: bold;
    }

    &--red {
      color: #ffffff;
      background-color: #b00020;
    }
    &--orange {
      background-color: $orange8;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-container {
  width: calc(60% - 28px);
}

.sidebar {
  width: 40%;
}

.second-headline {
  @include second_headline;
}

.map__wrapper {
  height: 300px;
  width: 500px;
}

.form {
  &__field-name {
    font-size: 0.8rem;
    color: $gray6;
  }
  input, textarea, select {
    display: block;
    height: 2rem;
    margin: 4px 30px 12px 0;
    width: 400px;
  }
  textarea {
    height: 280px;
  }
  &__submit {
    background-color: $orange8;
    border: none;
    height: 2.8rem;
    margin: 12px 0;
    width: 120px;
  }
  &__submit:hover {
    background-color: $orange9;
    transition: 0.5s ease;
  }
}

.favorite-icon {
  width: 30px;
}


// レスポンシブ関連
@media screen and (max-width: 1024px) {
  .pc-only {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .sp-only {
    display: none;
  }
}
